#contenedor {
  width: 560px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 250px;
  justify-content: space-between;
}

.note {
  width: 60px;
  border-radius: 20px;
  cursor: pointer;
}

.note:nth-child(1) {
    background: black;
    height: 150px;
}

.note:nth-child(2) {
    background: #0072c6;
    height: 150px;
}

.note:nth-child(3) {
    background: black;
    height: 150px;
}

.note:nth-child(4) {
    background: #0072c6;
    height: 150px;
}

.note:nth-child(5) {
    background: black;
    height: 150px;
}

.note:nth-child(6) {
    background: #0072c6;
    height: 150px;
}

.note:nth-child(7) {
    background: black;
    height: 150px;
}

.note:nth-child(8) {
    background: #0072c6;
    height: 150px;
}

.boton {
  margin: 20px auto;
  width: 560px;
  height: 50px;
  background: #333;
  cursor: pointer;
}

.white_bold {
  font-family: Helvetica, Arial, Sans-Serif;
  color: red;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  border-color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

